DEBUG=True
SECRET_KEY=EmilyPasswordIsRainbowSparkleUnicorn
DATABASE_URL=sqlite:///db.sqlite3
ALLOWED_HOSTS=localhost,127.0.0.1
FINNHUB_API_KEY=
WEATHER_LAT=40.7128
WEATHER_LON=-74.0060
USER_CALENDAR=
