APScheduler==3.11.2
asgiref==3.11.1
certifi==2026.2.25
charset-normalizer==3.4.6
click==8.3.1
colorama==0.4.6
dj-database-url==3.1.2
Django==6.0.3
django-apscheduler==0.7.0
django-cors-headers==4.9.0
djangorestframework==3.16.1
factory_boy==3.3.3
Faker==40.11.0
feedparser==6.0.12
gunicorn==25.1.0
icalendar==7.0.3
idna==3.11
iniconfig==2.3.0
packaging==26.0
pluggy==1.6.0
psycopg==3.3.3
psycopg-binary==3.3.3
Pygments==2.19.2
pytest==9.0.2
pytest-django==4.12.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
recurring-ical-events==3.8.1
requests==2.32.5
requests-mock==1.12.1
sgmllib3k==1.0.0
six==1.17.0
sqlparse==0.5.5
tzdata==2025.3
tzlocal==5.3.1
urllib3==2.6.3
whitenoise==6.12.0
x-wr-timezone==2.0.1
